.checkbox-row {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}

.chk {
  width: 15px;
  height: 15px;
  border: 1.5px solid #6B5228;
  flex-shrink: 0;
  position: relative;
}
.chk.checked {
  background: #6B5228;
}
.chk.checked::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid #F1DDBE;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-label {
  font-size: 12px;
  color: #5E5442;
}
