.panel-dark-light {
  background-image:
    linear-gradient(160deg, rgba(40,30,18,0.08), rgba(24,18,11,0.13)),
    url('/assets/wood-panel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #AC9F84;
}

.panel-dark {
  background-image:
    /* linear-gradient(180deg, rgba(34,26,16,0.16), rgba(20,15,9,0.26)), */
    url('/assets/wood-panel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #9A8F76;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.18);
}
